
body {
  font-family: "Lato";
}

.inner {
  margin: auto;
  width: 1100px;
}

.header {
  width: 100%;
  position: fixed;
  background-color: #fff;
  z-index: 1;
  margin-top: -62px;
}

.header-inner {
  height: 100%;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.fa-bolt{
  opacity: 0.7;
  font-size: 2em;
  padding: 15px 0; /*仕様*/
  float: left;
}

.header-contents {
  font-size: 12px;
  padding: 14px 12px; /*仕様*/
  color: #fff;
  background-color: #74cfae	;
  text-decoration: none;
  float: right;
  transition: .3s;
  margin-top:10px
}

.header-contents:hover {
  color: #333;
  transition: .3s;
}

.main {
  margin-top: 62px;
}

.main_title {
  width: 100%;
  background-color: #f2f2f2	;
}

.theme {
  padding: 250px 0;
  text-align: center;
  vertical-align: middle;
}

.theme h1 {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae	;
  font-family: "Raleway";
}

.theme p {
  margin-top: 20px;
  font-size: 30px;
  color: #c0c0c0;
}
/* ================================================ */
.what_we_can_do {
  width: 100%;
  background-color: #74cfae	;
  color: #fff;
}

.what_we_can_do-inner {
  text-align: center;
  padding-top: 50px; /*仕様*/
  display: flex;
}

.what_we_can_do img {
  margin-left: 100px;
}

.what_we_can_do-text {
  margin: 20px 0 0 120px;
}

.what_we_can_do h1 {
  font-size: 24px;
  font-family: "Raleway";
}

.what_we_can_do p {
  font-size: 20px;
  margin-top: 35px;
}
/* ================================================ */
.our_latest_work {
  width: 100%;
  background-color: #f2f2f2	;
}

.our_latest_work-inner {
  text-align: center;
  color: #333;
}

.our_latest_work h1 {
  font-size: 24px;
  padding-top: 60px;
  font-family: "Raleway";
}

.our_latest_work p {
  display: inline-block;
}

.our_latest_work-img {
  margin:  40px 0;
  font-size:0;
}

.our_latest_work-img a {
  opacity: .7;
  margin-right: 100px;
  transition: .3s;
  display: inline-block;
}

.our_latest_work-img a:nth-child(3n) {
  margin-right: 0px;
}

.our_latest_work-img a:nth-child(4n) {
  margin-top: 80px;
}

.our_latest_work-img a:hover {
  opacity: 1;
  transition: .3s;
}

.our_latest_work-text {
  margin-top: 50px;
  padding-bottom: 70px; /*仕様*/
}

.mail-botton {
  font-size: 12px;
  padding: 14px 20px;
  color: #fff;
  background-color: #74cfae	;
  text-decoration: none;
  margin-left: 90px;
  transition: .3s;
  vertical-align: top;
  display: inline-block;
}

.mail-botton:hover {
  color: #333;
  transition: .3s;
}
/* ================================================ */
.our_skills {
  width: 100%;
  background-color: #4e4e4e;
}

.our_skills-inner {
  color: #fff;
  text-align: center;
  padding: 70px 0 100px 0;
}

.our_skills h1 {
  font-size: 24px;
  margin: 0 auto;
}

.our_skills-contents { 
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

.our_skills figure {
  margin-left: 180px;
}

.our_skills figure:first-child {
 margin-left: 0;
}

.our_skills figcaption {
  font-size: 16px;
  margin-top: 20px ;
}
/* ================================================ */
.sns {
  width: 100%;
  background-color: #f2f2f2	;
}

.sns-inner {
  padding: 200px 0;
  display: flex;
  justify-content: center;
}

.sns-box {
  width: 185px;
  height: 100px;
  line-height:100px;
  text-align: center;
  cursor: pointer;
  transition: .3s;
}

.sns-inner a {
  color: #74cfae;
  font-size: 2.5em;
}

.sns-inner .sns-box:hover {
  background-color: #fff;
  transition: .3s;
}
/* ================================================ */
.footer {
  width: 100%;
  background-color: #74cfae;
  color: #fff;
  text-align: end;
}

.footer p {
  padding: 20px 0 25px 0;
}
