
body {
  font-family: "Lato";
}

.inner {
  margin: auto;
  width: 1100px;
  text-align: center;
}

.title {
  font-size: 24px;
  font-family: "Raleway";
}

.is-botton {
  font-size: 12px;
  color: #fff;
  text-decoration: none;  
  transition: .3s;
}

.is-full_width {
  width: 100%;
  color: #fff; 
}

.is-flex {
  display: flex;
  justify-content: center;
}

.is-b_color_green {
  background-color: #74cfae	;
}

.is-b_color_glay {
  background-color: #f2f2f2	;
}

.is-text_style {
  font-size: 20px;
  line-height: 30px;
}

.mail-botton:hover,
.header-contents:hover {
  color: #333;
}

.is-in_block {
  display: inline-block;
}
/* ================================= */
/* ================================= */

.header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 100;
}

.header-inner {
  padding: 15px 0; 
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.fa-bolt{
  opacity: 0.7;
  font-size: 2.5em;
  float: left;
  color: initial;
}

.header-contents {
  padding: 14px 12px; 
  float: right;
}

.main {
  padding-top: 70px;
}

.theme {
  padding: 250px 0;
}

.theme h1 {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
}

.theme p {
  margin-top: 20px;
  font-size: 30px;
  color: #c0c0c0;
  font-weight: lighter; 
}
/* ================================================ */
.what_we_can_do-inner {
  padding-top: 50px; 
}

.what_we_can_do img {
  padding-left: 100px;
}

.what_we_can_do-text_box {
  padding-top: 20px;
  margin-left: 140px;
}

.what_we_can_do-text {
  margin-top: 35px;
}
/* ================================================ */
.our_latest_work-inner {
  color: #333;
  padding: 60px 0 70px 0;
}

.our_latest_work-text {
  font-weight: lighter; 
  letter-spacing: 1px;
  width: 630px;
}

.our_latest_work-img {
  margin-top: 40px;
  font-size:0;
}

.our_latest_work-img li {
  opacity: .7;
  margin-left: 100px;
  transition: .3s;
  display: inline-block;
}

.our_latest_work-img li:nth-child(3n+1) {
  margin-left: 0px;
}

.our_latest_work-img li:nth-child(n+4) {
  margin-top: 80px;
}


.our_latest_work-img a{
  display: block;
  width: 300px;
  height: 300px;
  margin: 0 auto;
}


.our_latest_work-img li:hover {
  opacity: 1;
}

.our_latest_work-text_box {
  margin-top: 90px;
  padding-right: 80px;
}

.mail-botton {
  padding: 14px 20px;
  margin-left: 90px;
  vertical-align: top;
}
/* ================================================ */
.our_skills {
  background-color: #4e4e4e;
}

.our_skills-inner {
  padding: 70px 0 100px 0;
}

.our_skills-contents { 
  margin-top: 70px;
}

.our_skills figure {
  margin-left: 180px;
}

.our_skills figure:first-child {
  margin-left: 0;
}

.our_skills figcaption {
  font-size: 16px;
  margin-top: 20px;
}
/* ================================================ */
.sns-inner {
  padding: 200px 0;
}

.sns-inner li {
  width: 185px;
  height: 100px;
  line-height:100px;
  font-size: 3em;
  transition: .3s;
}

.sns-inner a {
  color: #74cfae;
  cursor: pointer;
  display: block;
}

.sns-inner li:hover {
  background-color: #fff;
}
/* ================================================ */
.footer-inner {
  text-align: end;
  padding: 20px 0 25px 0;
}

/* たぶれっと */
@media screen and (max-width: 1199px) { 

.inner {
  width: 100%;
}

.fa-bolt {
  margin-left: 20px;
}

.header-contents {
  margin-right: 20px;
}

.what_we_can_do-inner {
  width: 100%;
  padding: 50px 0 25px 0;
  display: block;
}

.what_we_can_do img {
  padding-left: 0;
}

.what_we_can_do-text_box {
  padding-top: 20px;
  margin-left: 0;
}

.what_we_can_do-text {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}


.our_latest_work-inner li {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.our_latest_work-img li:nth-child(n+4) {
  margin-top: 0;
}

.our_latest_work-img li:nth-child(3n+1) {
  margin-top: 80px;
}

.our_latest_work-img li:nth-child(1) {
  margin-top: 40px;
}

.our_latest_work-text_box {
  margin-top: 80px;
  padding-right: 0;
}

.our_latest_work-text {
  display: block;
  margin: auto;
}

.mail-botton {
  margin: 40px 0 0 0;
}

.our_skills-contents {
  display: block;
}

.our_skills figure {
  margin-top: 88px;
  margin-left: auto;
  margin-right: auto;
}

.our_skills figure:first-child {
  margin-top: 0;
}

}


/* スマホ */
@media screen and (max-width: 767px) { 

.header-contents {
  display: none;
}

.hamburger_menu {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  height: 13px;
  width: 25px;
  position: absolute;
  right: 20px;
}

.hamburger_menu span {
  border:2px #c0c0c0;
  border-radius: 3px;
  content: '';
  display: block;
  height: 2px;
  width: 25px;
  border-radius: 3px;
  background-color: #c0c0c0;
  position: absolute;
}

.hamburger_menu span:nth-of-type(2) {
  top: 16px;
}

.hamburger_menu span:nth-of-type(3) {
  top: 22px;
}

.theme {
  padding: 160px 0 130px 0;
}

.theme h1 {
  font-size: 80px;
  margin-left: auto;
  margin-right: auto;
}

.theme p {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.what_we_can_do-text {
  margin-left: auto;
  margin-right: auto;
}

.our_latest_work-text {
  width: 70%;
}

.sns-inner {
  width: 100%;
  display: block;
  padding: 50px 0;
}

.sns-inner li {
  width: auto;
  margin: 0 15px;
}

.footer-inner {
  width: 100%;
} 

.footer-inner p {
  padding-right: 20px;
}

}
