
body {
  font-family: "Lato";
}

.inner {
  margin: auto;
  width: 1100px;
  text-align: center;
}

.title {
  font-size: 24px;
  font-family: "Raleway";
}

.is-botton {
  font-size: 12px;
  color: #fff;
  text-decoration: none;  
  transition: .3s;
}

.is-full_width {
  width: 100%;
  color: #fff; 
}

.is-trans {
  transition: .3s;
}

.is-flex {
  display: flex;
  justify-content: center;
}

.is-b_color_green {
  background-color: #74cfae	;
}

.is-b_color_glay {
  background-color: #f2f2f2	;
}

.is-text_style {
  font-size: 20px;
  line-height: 30px;
}

.mail-botton:hover,
.header-contents:hover {
  color: #333;
}

.is-in_block {
  display: inline-block;
}
/* ================================= */
/* ================================= */
.header {
  position: fixed;
  background-color: #fff;
  margin-top: -70px;
  z-index: 1;
}

.header-inner {
  height: 100%;
  padding: 15px 0; 
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.fa-bolt{
  opacity: 0.7;
  font-size: 2.5em;
  float: left;
  color: initial;
}

.header-contents {
  padding: 14px 12px; 
  float: right;
}

.main {
  margin-top: 70px;
}

.theme {
  padding: 250px 0;
}

.theme h1 {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
}

.theme p {
  margin-top: 20px;
  font-size: 30px;
  color: #c0c0c0;
  font-weight: lighter; 
}
/* ================================================ */
.what_we_can_do-inner {
  padding-top: 50px; 
}

.what_we_can_do img {
  margin-left: 100px;
}

.what_we_can_do-text_box {
  margin: 20px 0 0 140px;
}

.what_we_can_do-text {
  margin-top: 35px;
}
/* ================================================ */
.our_latest_work-inner {
  color: #333;
  padding: 60px 0 70px 0;
}

.our_latest_work-text {
  font-weight: lighter; 
  letter-spacing: 1px;
}

.our_latest_work-img {
  margin:  40px 0;
  font-size:0;
}

.img_wrap {
  opacity: .7;
  margin-right: 100px;
}

.img_wrap:nth-child(3n) {
  margin-right: 0px;
}

.img_wrap:nth-child(4n) {
  margin-top: 80px;
}

.img_wrap:hover {
  opacity: 1;
}

.our_latest_work-text_box {
  margin-top: 90px;
  margin-right: 90px;
}

.mail-botton {
  padding: 14px 20px;
  margin-left: 90px;
  vertical-align: top;
}
/* ================================================ */
.our_skills {
  background-color: #4e4e4e;
}

.our_skills-inner {
  padding: 70px 0 100px 0;
}

.our_skills-contents { 
  margin-top: 70px;
}

.our_skills figure {
  margin-left: 180px;
}

.our_skills figure:first-child {
  margin-left: 0;
}

.our_skills figcaption {
  font-size: 16px;
  margin-top: 20px;
}
/* ================================================ */
.sns-inner {
  padding: 200px 0;
}

.sns-box {
  width: 185px;
  height: 100px;
  line-height:100px;
  cursor: pointer;
}

.sns-inner a {
  color: #74cfae;
  font-size: 3em;
}

.sns-inner .sns-box:hover {
  background-color: #fff;
}
/* ================================================ */
.footer-inner {
  text-align: end;
  padding: 20px 0 25px 0;
}
